body{
  margin: 0;
  padding: 0;
  font-family: calibri;
  background-image:url("25.jfif");
}
.box{

  width: 500px;
  padding: 40px;
  position: absolute;
  font-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  //background: transparent;
  //background: #6b6f7d;
  text-align: center;
  
  border-radius: 25px 25px 25px 25px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  color: white;
  background: #000000;
  display: block;
  font-color: white;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #f70723;
  padding: 14px 10px;
  width: 200px;
  outline: none;
//color: white;
  border-radius: 05px;
  transition: .5s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #2ecc71;
}


.box input[type = "submit"]{
  border:0;
  background: #50565e;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: .5s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
